.banner {
		background-image: url("../images/background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		height: 300px;
		margin: 0px auto; 
}

.lista1-1 {
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	list-style: none;
}
.lista1 {
	margin-left: 320px;

}

.logo {
	margin-left: 430px;
	margin-top: 30px;
	height: 50px;
	width: 50px;
}

.foto {
	background-size: cover;
	width: 70%;
	height: 70%;
	border: 1px solid gray;
	background-color: white;
	padding: 2px;
	margin-left: 20%;
}

.lista2 {
	list-style: none;
}

.backfoo {
	background-color: #D8D8D8;
}

.circulos {
	width: 70px;
	height: 70px;
	margin-left: 35%;
	margin-right: 35%;
	margin-bottom: 40px;
}

.margin2 {
	margin-right: 10%;
}
.imgthings {
	width:  150px;
	height: 150px;
	border-radius: 300%;
	border: 1px solid gray;
	padding: 2px;
	background-color: #F781D8;
	margin: 72px 20px;
}
* {
	font-family: Arial;
}

.margin {
	margin-top: 20px;
}

.color {
	color: white;
}

.color2 {
	color: purple;
}
